.FormTasiyici {
    padding-top: 15px;
    padding-left: 50px;
    width: 1400px;
    margin: 0 auto;
}

.FormBaslik {
    padding: 10px;
    text-align: center;
    color: #9f634e;
    background-color: #f6f6f6;
    border: 1px solid #9f634e;
    border-radius: 10px;
    margin-left: 15px;
}

.FormIcerik {
    margin-top: 10px;
    border: 1px solid #9f634e;
    padding: 10px;
    border-radius: 10px;
    margin-left: 15px;
}

.sol {
    float: left;
    width: 600px;
    margin: 0px 20px;
}

.sag {
    float: left;
    width: 700px;
    margin-left: 10px;
}

.satir {
    padding: 7px 0;
    color: #9f634e;
}

.FormEtiket {
}

.metinkutu {
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #9f634e;
}

    .metinkutu:focus {
        outline: 1px solid #9f634e;
    }

    .metinkutu:hover {
        border-color: #9f634e;
    }

.FormButton {
    padding: 7px 15px;
    background-color: #9f634e;
    color: #f6f6f6;
    border: 1px solid #9f634e;
    border-radius: 20px;
    font-size: 12pt;
    font-family: Fabrizo;
}

    .FormButton:hover {
        background-color: #7f9288;
    }

.basarisizpanel {
    background-color: #ff9494;
    color: white;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid red;
    margin: 15px 0;
}

.basarilipanel {
    background-color: #79ca79;
    color: white;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid forestGreen;
    margin: 15px 0;
}

.tablo {
    width: 100%;
    border: 1px solid #9f634e;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 10px;
}

    .tablo tr {
    }

        .tablo tr th {
            border: 1px solid #9f634e;
            border-bottom: 1px solid #9f634e;
            border-top: none;
            background-color: #f6f6f6;
            text-align: left;
            padding: 10px 7px;
        }

        .tablo tr td {
            border: 1px solid #9f634e;
            padding: 10px 5px;
        }

.tablobutonduzenle {
    background-color: #03489c;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
    color: white;
}

.tablobutonsil {
    background-color: #c90909;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
    color: white;
}

.tablobutondurum {
    background-color: #00aaaa;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
    color: white;
}

.yonetimpaneli {
    display: flex;
    justify-content: space-between;
    margin: 30px 120px;
    width: 100%;
}

.panel {
    border: 2px solid #9f634e;
    width: 300px;
    height: 200px;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
}

    .panel p {
        font-size: 20pt;
        margin-bottom: 5px;
    }

    .panel img {
        width: 70px;
        height: 70px;
        display: block;
        margin: 15px auto 10px;
    }
