.formTasiyici {
    width: 1200px;
    background-color:midnightblue;
}

.formBaslik {
    text-align:center;
    color:white;
    padding: 10px;
    border: 1px solid red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.formIcerik {
    padding: 10px;
    border: 1px solid silver;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.satir {
    padding: 10px 0;
}

.metinKutu {
    width: 98%;
    padding: 7px;
}

.bolunmusmetinKutu {
    width: 640px;
    padding: 7px;
}

.islemButton {
    padding: 10px 30px;
    background-color:blue;
    border-radius: 7px;
    text-decoration: none;
}
.islemButton:hover{
    background-color:white;
    cursor:pointer;
}

.basariliPanel {
    padding: 10px;
    background-color: green;
    color: White;
    border-radius: 7px;
    border: 1px solid #029774;
}

.basarisizPanel {
    padding: 10px;
    background-color:red;
    color: white;
    border-radius: 7px;
    border: 1px solid #fe4358;
}
.Formetiket{
    color:yellow;
}