.anaTasiyici{
    float:left;
    width:1200px;
    height:580px;
    background-color:white;
    text-align:center;
}
.sol {
    float: left;
}
.sag{
    float:right;
}
.kutuIcerik{
    border:1px solid red;
    margin:10px;
    background-color:midnightblue;
    color:white;
}
.kutuYonetici{
    border:1px solid yellow;
}
.yoneticiSatir {
    margin: 25px;
}
.kutuBaslik{
   color:black;
}
.tbStyle{
    border:2px solid silver;
    border-radius:10px;
}
.ddlStyle{
    color:white;
}