*, h1, h2, h3, h4, h5, h6, ul, li, ol {
    margin: 0;
    padding: 0;
}
body {
    font-family:Arial, Helvetica, sans-serif;
}
.ustcubuk {
    background-image: url('../adminresimler/pyatay.jpg');
    min-height: 40px;
    color: white;
    float:left;
    width:1318px;
}
.solMenu {
    width: 200px;
    height:680px;
    background-image: url('../adminresimler/pdikey.jpg');
    background-size: cover;
    float:left;
}
.users{
    width:100px;
    margin:20px;
    margin-left:50px;
    color:blue;
}
    .users:hover {
        text-decoration: underline;
        color: red;
        cursor:pointer;
    }
.anaBaslik {
    padding: 20px 20px;
    width: 450px;
    float:left;
    margin-left:400px;
    
}
.kullaniciAlani {
    padding: 10px;
    margin:10px;
    width: 300px;
    float: right;
    margin-right:-150px;
}

.kullanicieleman:hover {
    color: red;
}
.anaIcerik {
    float:left;
    padding: 20px;
}
.satir{
    margin-top:30px;
    margin-left:20px;
    padding:5px;
    color:white;
}
.satir a{
    text-decoration:none;
    color:white;
}
.satir a:hover{
    color:red;
    cursor:pointer;
}
.icon{
    width:20px;
    margin-bottom:-3px;
    margin-right:5px;
}
.foto{
    width:100px;
    margin-left:50px;
    margin-top:40px;
    border-radius:40px;
}

